# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# This fork is strictly for development purposes and never intended to be merged back into the tianocore code
* @rogurr

